# Site settings
title: Eddie's Blog
email: s2289391@ed.ac.uk
description: >-
  4th Year CS Student | ML/RL Research | Founder of ProcrastApply
baseurl: ""
url: ""

# Social links
github_username: eddbr

# Build settings
theme: minima
plugins:
  - jekyll-feed

header_pages:
  - about.markdown
  - writing.markdown

# Exclude from processing
exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
